<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
</head>
<body>
  <h1> Home Page </h1>
  <a href="/signup">New User</a>
  <p></p>

  <table border="1" class="table table-striped table-hover">
    <thead>
      <th> ID </th>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Email </th>
      <th> Password </th>
    </thead>
    <tbody>
      <% users.forEach(function(user) {%>
        <tr>
          <td> <%= user.id %> </td>
          <td> <%= user.first_name %> </td>
          <td> <%= user.last_name %> </td>
          <td> <%= user.email %> </td>
          <td> <%= user.hashed_password %> </td>
        </tr>
      <% }) %>
    </tbody>
    <tfoot></tfoot>
  </table>
</body>
</html>
